extends layout

block content

    form#formLogin(name="addMovie", method="post", action="/movie/insertMovie")
        .form-a
            input#inputTitle.form-control(type="text", placeholder="title", name="title")
            input#inputDirector.form-control(type="text", placeholder="director", name="director")
            input#inputReleaseYear.form-control(type="text", placeholder="year", name="year")
            input#inputGenre.form-control(type="text", placeholder="genre", name="genre")
            input#inputSummary.form-control(type="text", placeholder="summary", name="summary")
            input#inputTrailer.form-control(type="text", placeholder="trailer", name="trailer")
            button#btnSubmit.btn.btn-success(type="submit") Insert
