extends layout

block content
    h2.container-fluid Details

        h3 Title
        p.

        h3 Director
        p.

        h3 Summary
        p.

        h3 Actors
        p.

        h3 Rating
        p.

        h3 Year Released
        p.
