extends layout

block content
  h1= title
  p Welcome to #{title}

  h3 Top Movies
  if movies.length == 0
    p No top movies to show.
  else
    each movie in movies
      p #[a(href="/movie/#{movie.movie_id}") #{movie.title}]

  if session.user.isAdmin
    form#formAddMovie(name="addMovie", method="get", action="/addMovie")
      button#btnSubmit.btn.btn-warning(type="submit") Add Movie
