doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title= title
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css", integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.navbar.navbar-default.navbar-fixed-top
      a(href="/") Home
      form#formSearch(name="search", method="get", action="/search")
        .form-inline
            input#inputQuery.form-control(type="text", placeholder="Search", name="search")
      if session.user
        a(href="/account") #{session.user}
        form#formLogout(name="logout", method="get", action="/logout")
          button#btnSubmit.btn.btn-success(type="submit") Logout
      else
        if retry == 2
          p Username and password do not match
        else if retry == 3
          p User not found
        form#formLogin(name="login", method="post", action="/login")
          .form-inline
            input#inputUserName.form-control(type="text", placeholder="username", name="username")
            input#inputUserPass.form-control(type="password", placeholder="password", name="password")
            button#btnSubmit.btn.btn-success(type="submit") Login
        a(href="/register") Register
    block content
    script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh", crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ", crossorigin="anonymous")
