extends layout

block content
  h1= title
  .container-fluid
    form#formAddUser(name="adduser", method="post", action="/adduser")
      .form-group
        input#inputUserName.form-control(type="text", placeholder="username", name="username")
        input#inputUserPass.form-control(type="password", placeholder="password", name="password")
        button#btnSubmit.btn.btn-primary.btn-block(type="submit") submit